version: 'build-{build}'

image: Visual Studio 2019 Preview

pull_requests:
  do_not_increment_build_number: true

clone_depth: 1

nuget:
  disable_publish_on_pr: true

environment:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

configuration:
- Release

platform: Any CPU

init:
- cmd: git config --global core.autocrlf true
- ps: $Env:NUGET_VERSION = "1.0.0-preview1"
- ps: if($Env:APPVEYOR_REPO_BRANCH.StartsWith("release/")) { $Env:NUGET_VERSION = $Env:APPVEYOR_REPO_BRANCH.Substring(8) }
- ps: if($Env:NUGET_VERSION.Contains("-")) { $Env:NUGET_VERSION = $Env:NUGET_VERSION + "-" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0") }
- ps: if($Env:APPVEYOR_REPO_BRANCH.StartsWith("release/") -and -not $env:APPVEYOR_PULL_REQUEST_NUMBER) { $Env:deployable = "true" }

install:
- pip install codecov

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: $(nuget_version)
  package_version: $(nuget_version)

before_build:
- appveyor-retry dotnet restore -v Minimal

build:
 project: SourceCode.Clay.sln
 verbosity: minimal

test_script:
- ps: .\GenerateTestSolution.ps1 .\SourceCode.Clay.sln
- >-
    OpenCover.Console.exe
    -target:"dotnet.exe"
    -targetargs:"test SourceCode.Clay.Tests.sln -c %CONFIGURATION% --no-build --blame"
    -filter:"+[*]* -[*.Tests]*"
    -output:"%APPVEYOR_BUILD_FOLDER%\coverage.xml"
    -excludebyattribute:*.ExcludeFromCodeCoverage*
    -oldStyle
    -register:user
    -mergebyhash
    -hideskipped:File

after_test:
- >-
    codecov
    -X gcov
    -f "%APPVEYOR_BUILD_FOLDER%\coverage.xml"

artifacts:
  - path: '**\*.nupkg'
  - path: 'coverage.xml'

deploy:
  provider: NuGet
  api_key:
    secure: eLA5VxAgbDGm8/Nuncr8zzbSrVMejwcp4xQ62aPhsnl8HS6cou+WzYRqyS1c2nLQ
  on:
    branch: master
    deployable: true
